<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu Mate</title>
  <link rel="icon" href="https://img.icons8.com/glyph-neue/64/null/meal.png" />
</head>

<body>
  <a href="#" class="skip-link">Skip to Content</a>
  <header id="home">
    <nav-bar></nav-bar>
    <div class="banner">
      <h1>Selamat Datang di Menu Mate<br> Temukan Rasamu di Restoran
        Terbaik di Kota ini</h1>
    </div>
    <banner-image></banner-image>
  </header>
  <main>
    <resto-item></resto-item>
    </div>
    <footer id="about">
      <footer-contact></footer-contact>
      <div class="copyright">
        <p>Create by <a href="https://github.com/RizkaRslndP/MenuMate" target="_blank">Rizkarslndp</a>  &copy; 2023 Menu Mate</p>
      </div>
    </footer>
  </main>
</body>

</html>